* {
  box-sizing: border-box;
}

.result-item {
  border-bottom: 1px solid;
  padding: 10px 0;
}

.selection {
  background: yellow;
}

.tabs {
  width: 100%;
  background-color: lightgray;
}

.tabs-item {
  padding: 100px 25px;
}

.not-found {
  text-align: center;
  padding: 100px 0;
}

.hide {
  display: none;
}
